.footer_container {
  background: #fff;
  color: #5495cf;
  width: 100%;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_wrapper ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}
.logo_holder {
  width: 20vw;
  height: 5vh;
  margin: 2vh;
  position: relative;
}
.logo_holder img {
  object-fit: contain;
}
